/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-medium-dark: #444444;
  --basic-dark: #4d4d4d;
  --basic-gray: #eeeeee;
  --basic-dark-gray: #dfdfdf;
  --basic-light-gray: #d7dcde;
  --basic-neutral: #666666;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;

  --basic-red: #fb565a;
  --basic-medium-red: #e74246;
  --basic-extra-red: #d7373b;

  --basic-green: #00ca74;
  --basic-medium-green: #00bc6c;
  --basic-extra-green: #00aa62;

  --basic-orange: #efc84a;
  --basic-medium-orange: #eab534;
  --basic-extra-orange: #e5a722;
}

/* Global */

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Georgia", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.catalog-wrapper {
  display: grid;
}

.catalog-sort {
  grid-column: 1 / -1;
}

/* Main-navigation */

.main-header {
  margin-bottom: 80px;
  background-color: var(--basic-gray);
}

/* Main-navigation */

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Container */

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0;
}

/* Logo */

.main-header-logo {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 65px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a,
.cart-link {
  color: var(--basic-black);
}

.site-navigation a:hover,
.cart-link:hover {
  color: var(--basic-red);
}

.site-navigation a:focus,
.cart-link:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.cart-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Page title */

.page-catalog .page-title-container {
  background-color: var(--basic-gray);
  padding: 108px auto;
  margin: 0 0;
  grid-column: 1 / -1;
}

.page-title-container h1 {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

/* Filters */

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: var(--basic-gray);
}
.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-list p {
  color: var(--basic-neutral);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border-radius: 3px;
}

.pagination-item a:hover {
  background-color: var(--basic-dark-gray);
}

.pagination-item a:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
.pagination-item-current {
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  padding-top: 15px;
  padding-right: 54px;
  padding-bottom: 17px;
  padding-left: 54px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-medium-red);
}

.button:active {
  color: var(--basic-white);
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button a:active {
  opacity: 0.3;
}

/* Promo */

.promo {
  background-color: var(--basic-gray);
}

.promo-list {
  list-style: none;
}

.promo-bold-text {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

/* Services */

.services {
  margin-bottom: 80px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-list img {
  margin-bottom: 25px;
}

.services-list h3 {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 16px 0;
  padding: 0;
}

.services-list p {
  margin: 0 0 32px 0;
  padding: 0;
}

.services-button {
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 39px;
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-medium-green);
}

.button-green:active {
  background-color: var(--basic-extra-green);
}

.button-yellow {
  background-color: var(--basic-orange);
}

.button-yellow:hover {
  background-color: var(--basic-medium-orange);
}

.button-yellow:active {
  background-color: var(--basic-extra-orange);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 40px;
  margin: 0;
  padding: 0;
}

.about-bold-text {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-uppercase-description {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-extra-dark);
}

.about-uppercase-visual {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-black);
}

.description-list {
  list-style: none;
}

.table-info th {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.table-info td {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

/* Partners */

.partners {
  margin: 0 0 80px 0;
  padding: 0;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item img:hover {
  opacity: 1;
}

.partners-item img:active {
  opacity: 0.1;
}

/* Contacts */

.contacts-wrapper {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.contacts-block {
  padding: 50px;
}

.contacts h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts-address,
.contacts-phone {
  color: var(--basic-neutral);
  font-size: 16px;
  line-height: 18px;
}

.contacts-button {
  padding-top: 16px;
  padding-right: 44px;
  padding-bottom: 16px;
  padding-left: 44px;
}

.contacts-map-container {
  max-width: 1200px;
}

.contacts-map-container img {
  width: 100%;
}

/* Footer */

.main-footer-wrapper {
  display: grid;
  grid-template-columns: 360px 1fr;
  column-gap: 40px;
  width: 1157px;
  margin: 0 auto;
  padding: 0 0 70px;
}

.social-list {
  list-style: none;
}

.social-button {
  color: var(--basic-white);
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
}

.social-button:hover {
  background: linear-gradient(0deg, #e74246, #e74246), #ffffff;
}

.social-button:active {
  background: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-bold-text {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: var(--basic-black);
}

.footer-discount-text {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-medium-dark);
}

/* Modal */

.modal-login {
  color: var(--basic-black);
}

.modal-description {
  font-size: 45px;
  font-weight: bold;
  line-height: 53px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="textarea"] {
  font: inherit;
  color: var(--basic-medium-dark);
  border: 2px solid var(--basic-light-gray);
  border-radius: 3px;
}

.login-form input:focus {
  color: var(--basic-black);
  border: 2px solid var(--basic-black);
}
